# Игнорировать все .pyc файлы
*.pyc

# Игнорировать папку venv и её содержимое
venv/
.venv/

# Игнорировать все логи
*.log

# Игнорировать файл конфигурации
config.py

# Игнорировать все файлы в папке temp
temp/

test.py
